aniso8601==7.0.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
coloredlogs==10.0
Flask==1.1.1
Flask-RESTful==0.3.7
gevent==1.4.0
greenlet==0.4.15
humanfriendly==4.18
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
paho-mqtt==1.4.0
python-dotenv==0.10.3
pytz==2019.1
requests==2.22.0
six==1.12.0
urllib3==1.26.5
Werkzeug==0.15.5
