aniso8601==7.0.0
Click==7.0
coloredlogs==10.0
Flask==1.1.1
Flask-RESTful==0.3.7
humanfriendly==4.18
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
paho-mqtt==1.4.0
python-dotenv==0.10.3
pytz==2019.1
six==1.12.0
Werkzeug==0.15.5
